<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Lisää kirja!</title>
    </head>

    <body>
        <h1>Lisää video!</h1>
        <p th:text="${message}"></p>
        <ul>
            <li th:each="error:${errors}">
                <span th:text="${error}"/>
            </li>
        </ul>

        <form th:action="@{/newVideo}" th:method="POST">
            <input type="text" name="name" placeholder="Otsikko"/>
            <input type="text" name="url" placeholder="url"/>
            <input type="text" name="publisher" placeholder="tekijä"/>
            <input type="date" name="date"/>
            <br/>   <br/>   <br/>           
            <textarea cols="100" rows="10" name="description" placeholder="kuvaus"></textarea>
            <input type="submit" name ="add_book" value="Lisää video" style="background-color:#62ea62"/>
        </form>
        <a href="/">Takaisin listaukseen</a><br/>
    </body>
</html>
