<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Tips!</title>
    </head>

    <body>
        <h1>Kirjavinkit:</h1>
        <h3>explore testaukseen isbn13 esim: 978-951-98548-9-2</h3>
        <br/>
        <p th:text="${message}">
  
        </p>
        <ul>
            <li th:each="tip:${tips}">
                Nimi: <span th:text="${tip.name}"/><br/>
                Isbn: <span th:text="${tip.isbn}"/><br/>
                Kirjoittaja: <span th:text="${tip.writer}"/><br/>
                Tags:<br/>
                <ul>
                    <li th:each="tag : ${tip.tags}" th:text="${tag.name}"/>
                </ul>
                <br/>
                <form th:action="@{{tipId}(tipId=${tip.id})}" th:method="DELETE">
                <button type="submit" style="height:20px;width:80px;background-color:red">Poista</button>
                </form>
                <form th:action="@{{tipId}(tipId=${tip.id})}" th:method="GET">
                <button type="submit" style="height:20px;width:80px">Muokkaa</button>
                </form>

                <br/>
            </li>

        </ul>
        
                        <h4>Lisää vinkki!</h4>
        <form th:action="@{/}" th:method="POST">
            <input type="text" name="name" placeholder="nimi"/>
            <input type="text" name="isbn" placeholder="ISBN"/>
            <input type="text" name="writer" placeholder="kirjoittaja"/>
            <input type="submit" value="Lisää kirja!" style="background-color:#62ea62"/>
        </form>


                        <h4>Lisää tagi!</h4>
	<form action="/newTag" th:method="POST">
            <input type="text" name="name" placeholder="tag"/>
            <input type="submit" value="Lisää tagi!" style="background-color:#36abff"/>
        </form>

                        <h4>Olemassaolevat tagit:</h4>
	<ul>
        	<li th:each="tag : ${tags}"> 
			<span th:text="${tag.name}">tag</span>
			<form th:action="@{/deleteTag/{tagId}(tagId=${tag.id})}" th:method="DELETE">
				<input type="submit" value="Poista" style="background-color:red"/>
			</form>
		</li>
        </ul>
    </body>
</html>
