<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Tips!</title>
    </head>

    <body>
        <h1>Kirjavinkit:</h1>
        <br/>
        <ul>
            <li th:each="tip:${tips}">
                Nimi: <span th:text="${tip.name}"/>
                Isbn: <span th:text="${tip.isbn}"/>
                <form th:action="@{{tipId}(tipId=${tip.id})}" th:method="DELETE">
                    <input type="submit" value="Remove"/>
                </form><br/>
            </li>

        </ul>
        
        <form method="POST">
            <input type="text" name="name"/>
            <input type="text" name="isbn"/>
            <input type="submit" value="Lisää kirja!"/>
        </form>
    </body>
</html>