<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Tips!</title>
    </head>

    <body>
        <h1>Kirjavinkit:</h1>
        <br/>
        <p th:text="${message}">
  
        </p>
        <ul>
            <li th:each="tip:${tips}">
                Nimi: <span th:text="${tip.name}"/>
                Isbn: <span th:text="${tip.isbn}"/>
                Kirjoittaja: <span th:text="${tip.writer}"/>
                <ul>
                    <li th:each="tag : ${tip.tags}" th:text="${tag.name}">tag</li>
                </ul>
                <form th:action="@{{tipId}(tipId=${tip.id})}" th:method="DELETE">
                    <input type="submit" value="Remove"/>
                </form>
                <form th:action="@{{tipId}(tipId=${tip.id})}" th:method="GET">
                    <input type="submit" value="Muokkaa"/>
                </form>
                <br/>
            </li>

        </ul>
        
        <form th:action="@{/}" th:method="POST">
            <input type="text" name="name" value="nimi"/>
            <input type="text" name="isbn" value="isbn"/>
            <input type="text" name="writer" value="kirjoittaja"/>
            <input type="submit" value="Lisää kirja!"/>
        </form>


	<form action="/newTag" th:method="POST">
            <input type="text" name="name" value="nimi"/>
            <input type="submit" value="Lisää tagi!"/>
        </form>

	<ul>
            <li th:each="tag : ${tags}" th:text="${tag.name}"></li>
        </ul>
    </body>
</html>
