<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Tips!</title>
    </head>

    <body>
        <h1>Muokkaa</h1>
        <h3>explore testaukseen isbn13 esim: 978-951-98548-9-2</h3>
        <br/>

        <ul>
            <li th:each="error:${errors}">
                <span th:text="${error}"/>
            </li>
        </ul>

        <div th:if="${tip.read}">
            <form th:action="@{{tipId}(tipId=${tip.id})}" th:method="POST">
                luettu:<input type="checkbox" value="1" checked="true" name="read"/>
                <input type="checkbox" checked="checked" value="0" name="read" hidden="hidden"/>
                nimi:<input type="text" th:value="${tip.name}" name="name" />
                ISBN:<input type="text" th:value="${tip.details['isbn']}" name="isbn"/>
                kirjoittaja:<input type="text" th:value="${tip.details['writer']}" name="writer"/>
                Julkaisupäivä: <input type="date" name="date" th:value="${tip.details['date']}"/>
                <input name="save_changes" type="submit" value="Muokkaa vinkkiä!"/>
            </form>
        </div>
        <div th:unless="${tip.read}">
            <form th:action="@{{tipId}(tipId=${tip.id})}" th:method="POST">
                luettu:<input type="checkbox" value="1" name="read"/>
                <input type="checkbox" checked="checked" value="0" name="read" hidden="hidden"/>
                nimi:<input type="text" th:value="${tip.name}" name="name" />
                ISBN:<input type="text" th:value="${tip.details['isbn']}" name="isbn"/>
                kirjoittaja:<input type="text" th:value="${tip.details['writer']}" name="writer"/>
                Julkaisupäivä: <input type="date" name="date" th:value="${tip.details['date']}"/>
                <input name="save_changes" type="submit" value="Muokkaa vinkkiä!"/>
            </form>
        </div>

  <br/>

        <div>
            <form method="POST" th:action="@{/{tipId}/addTag(tipId=${tip.id})}">
                <div class="form-group">
                    <select name="tagId" size="10" style="width:100px">

                        <option th:each="tag : ${tags}" th:value="${tag.id}" th:text="${tag.name}">tag name</option>
                    </select>
                </div>
                <input type="submit" value="Lisää tagi!"/>
        </form>

      <br/>

            <form th:method="DELETE" th:action="@{/{tipId}/deleteTag(tipId=${tip.id})}">
                <div class="form-group">
                    <select name="tagId" size="10" style="width:100px">

                        <option th:each="tag : ${tip.tags}" name="tagId" th:value="${tag.id}" th:text="${tag.name}">tag name</option>
                    </select>
                </div>
                <input type="submit" value="poista tagi!"/>
            </form>

        </div>
        <a href="/">Takaisin listaukseen</a><br/>
    </body>
</html>
